/****** General ***********/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
    --filter-border-color: #D9D9D9;
}

.fa-solid {
    color: var(--main-color);
}

body {
    font-family: 'Raleway', sans-serif;
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
}

main {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Header ***********/

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 80px;
}

header img{
    margin-top: 20px;
    width: 65px;
    height: 20px;
}

header ul{
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    width: 200px;
}

header ul li{
    border-top: 2px solid white;
    list-style: none;
    padding-top: 10px;
}

header li:hover {
    border-top: 2px solid var(--main-color);
    color: var(--main-color);
}

/****** Search section ***********/

.search {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

/****** Headline ***********/

#search-headline {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.section-subtitle {
    font-size: 16px;
}

/****** Search Bar ***********/

#search-bar {
    display: flex;
    height: 50px;
}

#search-bar i {
    color: black;
    display: flex;
    align-items: center;
    background-color: #F2F2F2;
    padding: 20px;
    border-radius: 15px 0 0 15px;
}

.search-input {
    border: 1px solid #F2F2F2;
    color: black;
    text-align: center;
    padding: 0 10px 0 10px;
}

.search-input::placeholder {
    font-family: 'Raleway';
    font-size: 18px;
    font-weight: 700;
    color: black;
}

.search-input:focus {
    outline: none;
}

.text-input-button {
    background-color: var(--main-color);
    border: none;
    color: white;
    border-radius: 0 15px 15px 0;
    padding: 15px;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 18px;
}

/****** Filters ***********/

#filter-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.option-title {
    font-weight: 700;
    font-size: 18px;
}

.filter-buttons-container {
    display: flex;
    gap: 20px;
}

.filter-button {
    border-radius: 25px;
    cursor: pointer;
    border: 2px solid var(--filter-border-color);
    background-color: white;
    padding: 15px;
    height: 50px;
    font-weight: 700;
    font-size: 17px;
}

.filter-button:hover {
    background-color: var(--filter-bg-color);
}

.filter-button i {
    margin-right: 10px;
}

/****** Info Bar ***********/

#info-bar {
    display: flex;
    align-items: center;
    gap: 10px;
}

#info-bar i {
    text-align: center;
    padding: 5px;
    width: 24px;
    height: 24px;
    border: 1px solid var(--filter-bg-color);
    border-radius: 50%;
    font-size: 12px;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.hebergement-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.hebergement-cards .card .card-content .card-title, .card-subtitle {
    margin: 5px 0;
}

.hebergement-cards .card .card-content {
    padding: 0 10px;
}

.hebergement-cards .card img {
    width: 240px;
    height: 115px;
    border-radius: 20px 20px 0 0;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/****** Activites ***********/

.activites {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 30px;
}

.activites-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.activites-cards .card {
    padding: 0;
}

.activites-cards .card img {
    width: 297.5px;
    height: 380px;
    border-radius: 20px 20px 0 0;
}


.activites-cards .card .card-title {
    margin: 20px 19px;
    background-color: white;
}

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}